.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  font-family: Arial, sans-serif;

  button {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 40px;
    text-shadow: 2px 2px 4px #666666;
    box-shadow: 1px 4px 3px #666666;
    color: #ffffff;
    font-size: 60px;
    padding: 40px 60px 40px 60px;
    margin: 40px 60px 120px 60px;
    border: solid #1f628d 2px;
    text-decoration: none;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
  }

  button:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

}
