[resizable] {
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  cursor: ew-resize;
  z-index: 1000;
  right: -5px;
  padding: 0 !important;

  &.edge {
    width: 5px;
    right: 0;
  }

  &:hover,
  &.active {
    background-color: lightgray;
  }

  &.left {
    right: unset;
    left: -5px;

    &.edge {
      width: 5px;
      left: 0;
    }
  }

  .toggle.top {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
