:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #222;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: lightgrey;
    }

    ::-webkit-scrollbar-thumb {
        background-color: gray;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: AccentColor !important;
    }
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: lightgrey;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

::-webkit-scrollbar-thumb:hover {
    background: AccentColor !important;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 639px) {
    main {
        margin: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #ccc;
        background-color: #1a1a1a;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.flex-fill {
    flex: 1 1 0;
    min-width: 0;
    min-height: 0;
}
