:root {
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.flex-column .flex-fill {
    flex: 1 1 auto;
    min-height: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row .flex-fill {
    flex: 1 1 auto;
    min-width: 0;
}
