:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 8pt;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 1rem;
	width: 100vw;
	height: 100vh;
}

#showcase {
	display: contents;
}

.grid-flex-container {
	box-sizing: border-box;
	width:100%;
	height:100%;
	display: flex;
	align-items: stretch;
}