@import "@atx/toolkit/styles";

:root {
    --bg-color: #fff;
    --line-color-1: #e0e0e0;
    --line-color-2: #f0f0f0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .stories {
        display: flex;
        flex-grow: 1;
    }
}
