@import "./colors.css";

$disabled-text-color: gray;
$form-element__background-color--error: red;
$form-element__background-color--success: green;
$form-element__background-color--warning: orange;
$form-element__border-color--error: darkred;
$form-element__border-color--success: darkgreen;
$form-element__border-color--warning: darkorange;
$form-element__border-color--warning: darkorange;
$grid-background-color--select: darkred;
$grid-background-color--stripe: lightgray;
$grid-background-color-header: gray;
$grid-background-color-total-row: gray;
$grid-background-color: white;
$grid-border-color--select: red;
$grid-border-color: #c0c4ca;
$grid-border: 1px solid $grid-border-color;
$grid__row--expanded-top-border__color: gray;
$icon__boxed-hover: green;
$icon__informational: blue;
$popover__border-color: gray;
$primary-text__color: black;
$tooltip__background-color: gray;
$tooltip__shadow-color: gray;
$header-background-color: #eee;
$header-border-color: #ccc;
$header-border: 1px solid $header-border-color;
$section-shadow-color: rgba(0, 0, 0, 0.25);
$grid-background--hover: #f0f6fc;
