@import "~@atx/toolkit/sass/variables";

.story-details {
    height: 20%;
    border-top: 1px solid $tab__border-color;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -1px;

    .atx-tab-bar {
        margin-top: -1px;
    }
}

.story-parameters {
    padding: 0.5rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    overflow-x: auto;

    .form {
        min-width: 0;
        overflow-y: auto;

        &.framed {
            padding-right: .5rem;
            border-right: $grid-border;
            margin-right: .5rem;
            &:last-child {
                border-right: none;
                margin-right: 0;
            }
        }

        &.frameless .title {
            display: none;
        }

        .title {
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.005rem;
            font-weight: bold;
            border-bottom: 1px solid $partition-color;
            padding-left: 0;
            padding-bottom: 0.25rem;
        }

        .label {
            font-weight: bold;
            padding: 0.75rem 0;
            vertical-align: top;
        }

        .field {
            font-weight: bold;
            padding: 0.5rem 0 0.5rem 1rem;
            min-width: 12rem;
        }
    }
}
